{{#partial "content"}}
    <div class="groups">
{{#each group}}
    <div class="col-md-4">
        <div class="card">
            <div class="container">

            <img src="/images/1.jpg" class="images" width="17%">
                <h3>Group: {{ groupname }} </h3>
                <p>Size: {{ groupsize }}</p>
                <p>Payment Amount: {{grouppayment}}</p>
                <p>Round Period: {{groupround}}</p>
                <p>Id: {{ id }}</p>
                <button class="btn btn-info"><a href="/terms">Join</a></button>
            </div>
        </div>
    </div>
{{/each}}
    </div>
{{/partial}}
{{#partial "navbar"}}
    <li><a href="/home">Home</a></li>

    <li><a href="/groupForm">Create a Group</a> </li>


{{/partial}}

{{> layout1.hbs}}